/build/
/cmake-build-*/
/.idea/
/data/external/
/data/pretraining/huggingface/
/python/build/
/python/dist/
/python/*.egg-info/
/dist/
/wheelhouse/
/python/riftco_transformer/.libs/
**/__pycache__/
**/*.pyc
/results/*
!/results/.gitkeep
